@import "partials/colors";

.form-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title-input {
  background: inherit;
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px 7px;
  font-size: 7vw;
  width: 80%;
  color: #000;
  text-align: center;
  &:focus {
    outline: none;
  }
}

.create-checklist {
  border: 1px solid $lightgrey;
  border-radius: 3px;
  color: #000;
  background-color: inherit;
  padding: 3px 5px;
  margin-top: 12px;
  font-size: 5vw;
  cursor: pointer;
}

@media (min-width: 600px) {
  .title-input {
    font-size: 42px;
    width: 480px;
  }

  .create-checklist {
    font-size: 30px;
  }
}
